.root {
  align-items: center;
  display: flex;
  flex-direction: column;
  padding-bottom: 90px;
}

.month {
  background-color: #e1e1e1;
  border-radius: 3px;
  color: #000;
  font-size: 16px;
  line-height: 1;
  margin-bottom: 200px;
  padding: 10px;
}

.month.first {
  margin-top: 20px;
}

@media screen and (max-width: 767px) {
  .root {
    padding-bottom: 40px;
  }

  .month {
    margin-bottom: 20px;
  }
}

@media (prefers-color-scheme: dark) {
  .month {
    background-color: #38444d;
    color: #8899a5;
  }
}
