.root {
  align-items: center;
  bottom: 0;
  display: flex;
  left: 0;
  justify-content: center;
  position: fixed;
  z-index: 1;
}

.title {
  background-color: #000;
  font-size: 13px;
  font-weight: 300;
  line-height: 1.2;
  margin: 0;
  text-transform: uppercase;
  padding: 10px;
  width: 100px;
}

.title a {
  color: #fff;
  text-decoration: none;
}

.hashtag {
  display: block;
  font-weight: 600;
  margin-top: 10px;
}

.hashtag:hover {
  text-decoration: underline;
}

@media screen and (max-width: 767px) {
  .root {
    margin-bottom: 40px;
    position: relative;
  }

  .title {
    align-items: center;
    display: flex;
    font-size: 16px;
    width: 100%;
  }

  .hashtag {
    flex: 2;
    margin: 0;
    padding: 20px;
    text-align: right;
  }
}