.root {
  bottom: 0;
  position: fixed;
  right: 0;
  width: 138px;
  z-index: 1;
}

.title {
  font-size: 13px;
  font-weight: 300;
  line-height: 1.2;
  margin: 0;
  text-transform: uppercase;
}

.title a {
  color: #fff;
  display: block;
  font-weight: 600;
  text-decoration: none;
}

@media screen and (max-width: 767px) {
  .root {
    height: 75px;
    left: 0;
    position: fixed;
    right: auto;
    top: 0;
    width: 100%;
  }

  .title {
    align-items: center;
    background-color: #000;
    display: flex;
    font-size: 13px;
    padding: 30px 15px;
  }

  .share {
    position: absolute;
    right: 15px;
    top: 15px;
  }
}

@media screen and (min-width: 768px) {
  .share {
    bottom: 15px;
    position: fixed;
    right: 15px;
  }

  .title {
    display: none;
  }
}

@media screen and (max-width: 767px) and (prefers-color-scheme: dark) {
  .title {
    background-color: #38444d;
  }
}

@media (prefers-color-scheme: dark) {
  .title {
    color: #fff;
  }

  .title a {
    color: #fff;
  }
}
