.root {
  align-items: center;
  background-color: #000;
  display: flex;
  left: 20px;
  height: 100px;
  justify-content: center;
  padding: 0 10px;
  position: fixed;
  top: 20px;
  width: 100px;
  z-index: 1;
}

.title {
  font-size: 13px;
  line-height: 1.6;
  margin: 0;
  text-transform: uppercase;
}

.title a {
  color: #fff;
  text-decoration: none;
}

.hashtag:hover {
  text-decoration: underline;
}