.root {
  min-height: 100vh;
  position: relative;
}

.root::before,
.root::after {
  background-color: #e1e1e1;
  bottom: 120px;
  content: '';
  left: 50%;
  position: absolute;
  transform: translateX(-50%);
  z-index: -1;
}

.root::before {
  height: calc(100% - 180px);
  top: 60px;
  width: 13px;
}

.root::after {
  height: 3px;
  width: 52px;
}

@media screen and (max-width: 767px) {
  .root {
    padding-top: 80px;
  }

  .root::before,
  .root::after {
    display: none;
  }
}

@media (prefers-color-scheme: dark) {
  .root::before,
  .root::after {
    background-color: #38444d;
  }
}
