.root {
  min-height: 100vh;
  position: relative;
}

.root::before {
  background-color: #e1e1e1;
  content: '';
  height: 100%;
  left: 50%;
  position: absolute;
  top: 60px;
  transform: translateX(-50%);
  width: 13px;
  z-index: -1;
}

@media screen and (max-width: 767px) {
  .root {
    padding-top: 80px;
  }

  .root::before {
    display: none;
  }
}

@media (prefers-color-scheme: dark) {
  .root::before {
    background-color: #38444d;
  }
}
