.root {
  align-items: center;
  color: #666;
  display: flex;
  font-size: 13px;
  justify-content: flex-end;
  padding: 15px;
}

.communist {
  color: red;
  display: inline-block;
  font-size: 20px;
  width: 18px;
}

.communist span:last-child {
  display: none;
}

.root:hover .communist span:first-child {
  display: none;
}

.root:hover .communist span:last-child {
  display: block;
}

.root a {
  color: #666;
  text-decoration: none;
  transition: color 0.2s linear;
}

.root a:hover {
  color: #000;
  text-decoration: underline;
}

.about {
  display: none;
}

@media screen and (max-width: 767px) {
  .root {
    justify-content: center;
    padding: 30px;
  }
}

@media screen and (min-width: 768px) {
  .root {
    background-color: #fff;
    border-radius: 3px;
    bottom: 13px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    left: 55px;
    opacity: 0;
    padding: 5px 15px;
    position: fixed;
    transform: translate3d(40px, 0, 0);
    transition: transform 0.2s cubic-bezier(0, 0.5, 0.5, 1), opacity 0.2s;
  }

  .root::after,
  .root::before {
    border: solid transparent;
    content: ' ';
    height: 0;
    pointer-events: none;
    position: absolute;
    right: 100%;
    top: 50%;
    width: 0;
  }

  .root::after {
    border-color: rgba(255, 255, 255, 0);
    border-right-color: #ffffff;
    border-width: 7px;
    margin-top: -7px;
  }
  .root::before {
    border-color: rgba(204, 204, 204, 0);
    border-right-color: rgba(0, 0, 0, 0.12);
    border-width: 8px;
    margin-top: -8px;
  }

  .about {
    align-items: center;
    background-color: #000;
    border-radius: 100%;
    bottom: 20px;
    color: #fff;
    cursor: pointer;
    display: flex;
    font-weight: 600;
    height: 22px;
    justify-content: center;
    left: 20px;
    line-height: 1;
    opacity: 0.2;
    position: fixed;
    transition: opacity 0.2s;
    width: 22px;
    z-index: 100;
  }

  .about:hover,
  .about.active {
    opacity: 1;
  }

  .root.active {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

@media (prefers-color-scheme: dark) {
  .root,
  .root a {
    color: #8899a5;
  }

  .root a:hover {
    color: #fff;
  }

  .communist {
    color: #de2960;
  }

  .about {
    background-color: #8899a5;
    color: #15202b;
  }
}

@media screen and (min-width: 768px) and (prefers-color-scheme: dark) {
  .root {
    background-color: #38444d;
  }

  .root a {
    color: #fff;
  }

  .root::after {
    border-right-color: #38444d;
  }
}
