.root {
  align-items: center;
  color: #666;
  display: flex;
  font-size: 13px;
  justify-content: flex-end;
  margin-top: 35px;
  padding: 0 15px;
}

.communist {
  color: red;
  font-size: 20px;
}

.root a {
  color: #666;
  text-decoration: none;
  transition: color 0.2s linear;
}

.root a:hover {
  color: #000;
  text-decoration: underline;
}

@media screen and (max-width: 767px) {
  .root {
    justify-content: center;
    padding: 30px;
  }
}