.root {
  color: #666;
  font-size: 13px;
  margin-top: 40px;
  padding: 0 10px;
  text-align: right;
}

.communist {
  color: red;
}

.root a {
  color: #666;
  text-decoration: none;
  transition: color 0.2s linear;
}

.root a:hover {
  color: #000;
  text-decoration: underline;
}