.root {
  align-items: stretch;
  background-color: rgba(255, 255, 255, 0.8);
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  display: flex;
  height: 66px;
  justify-content: flex-start;
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 100;
}

.filter,
.sort {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.filter {
  border-right: 1px solid rgba(0, 0, 0, 0.1);
  position: relative;
}

.sort {
  border-left: 1px solid rgba(0, 0, 0, 0.1);
  justify-self: flex-end;
  margin-left: auto;
  padding: 0 16px;
}

@keyframes slide-down {
  0% {
    opacity: 0;
    transform: translateY(-10px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.button,
.menu {
  font-size: 14px;
  width: 232px;
}

.menu {
  max-height: 70vh;
  overflow-y: auto;
}

.button {
  align-items: center;
  appearance: none;
  background: #fff;
  border: 0;
  cursor: pointer;
  display: flex;
  height: 100%;
  padding: 16px;
  text-align: left;
}

.button span:first-child {
  display: block;
  flex: 2;
  overflow: hidden;
  padding-right: 24px;
  text-overflow: ellipsis;
  white-space: pre;
}

.button span:first-child > div {
  padding: 0;
}

.menu[data-reach-menu-list],
.menu[data-reach-menu-items] {
  animation: slide-down 0.2s ease;
  border: 1px solid rgba(0, 0, 0, 0.1);
  margin-left: 1px;
  padding: 0;
}

.item {
  border-bottom: 1px solid rgb(0, 0, 0, 0.1);
  color: #666;
  font-size: 13px;
  font-weight: bold;
  line-height: 1;
  padding: 0;
}

.item.all {
  align-items: center;
  display: flex;
}

.avatar {
  background-color: rgb(0, 0, 0, 0.1);
  border-radius: 100%;
  flex: 0 0 32px;
  height: 32px;
  margin-right: 10px;
  width: 32px;
}

.item:last-child {
  border-bottom: 0;
}

.item.all,
.item > div {
  padding: 8px 16px;
}

.item[data-selected] {
  background-color: rgb(0, 0, 0, 0.1);
  color: #666;
}

.arrow {
  display: block;
  transition: transform 0.2s ease;
}

.arrow.expanded {
  transform: rotate(-180deg);
}

.clear {
  align-items: center;
  cursor: pointer;
  display: flex;
  height: 17px;
  justify-content: center;
  margin-left: 0.5em;
  position: absolute;
  right: 40px;
  top: 50%;
  transform: translateY(-50%);
  width: 17px;
  z-index: 3;
}

.clear svg {
  transform: scale(1.4);
}

.clear svg path {
  fill: #666;
}

@media (prefers-color-scheme: dark) {
  .menu[data-reach-menu-list],
  .menu[data-reach-menu-items],
  .root {
    background-color: rgba(0, 0, 0, 0.8);
    color: #8899a5;
  }

  .root {
    border-bottom-color: rgba(255, 255, 255, 0.2);
  }

  .item {
    color: #fff;
  }

  .item[data-selected] {
    background-color: #8899a5;
    color: #000;
  }

  .button {
    background-color: rgba(0, 0, 0, 0.8);
    color: #8899a5;
  }

  .filter {
    border-right-color: rgba(255, 255, 255, 0.2);
  }

  .sort {
    border-left-color: rgba(255, 255, 255, 0.2);
  }

  .avatar {
    background-color: rgba(255, 255, 255, 0.2);
  }

  .clear svg path,
  .arrow path {
    fill: #8899a5;
  }
}

@media screen and (max-width: 767px) {
  .root {
    display: none;
  }
}
