.root {
  align-items: center;
  display: flex;
  width: 100%;
}

.button {
  align-items: center;
  background-color: #fff;
  display: flex;
  border: 1px solid #000;
  border-right: 0;
  flex: 1;
  height: 46px;
  justify-content: center;
  width: 46px;
}

.button svg {
  height: 14px;
  width: 14px;
}

.button:last-child {
  border-right: 1px solid #000;
}

@media screen and (min-width: 768px) {
  .button {
    transition: background-color 0.3s ease;
  }

  .button:hover {
    background-color: #000;
    opacity: 1;
  }

  .button:hover path {
    fill: #fff;
  }
}
