.root {
  align-items: center;
  display: flex;
  width: 100%;
}

.button {
  align-items: center;
  background-color: #fff;
  display: flex;
  border: 1px solid #000;
  flex: 1;
  justify-content: center;
  padding: 15px;
}

.button:first-child {
  border-right: 0;
}

@media screen and (min-width: 768px) {
  .button {
    transition: background-color 0.3s ease;
  }

  .button:hover {
    background-color: #000;
    opacity: 1;
  }

  .button:hover path {
    fill: #fff;
  }
}
