.root {
  align-items: center;
  display: flex;
  width: 100%;
}

.button {
  align-items: center;
  background-color: #fff;
  border: 1px solid #000;
  border-right: 0;
  display: flex;
  flex: 1;
  height: 46px;
  justify-content: center;
  width: 46px;
}

.button svg {
  height: 14px;
  width: 14px;
}

.button:last-child {
  border-right: 1px solid #000;
}

@media screen and (min-width: 768px) {
  .button {
    transition: background-color 0.3s ease;
  }

  .button:hover {
    background-color: #000;
    opacity: 1;
  }

  .button:hover path {
    fill: #fff;
  }
}

@media screen and (max-width: 767px) {
  .button:first-child {
    border-radius: 3px 0 0 3px;
  }

  .button:last-child {
    border-radius: 0 3px 3px 0;
  }
}

@media (prefers-color-scheme: dark) {
  .button {
    background-color: #38444d;
    border-color: #8899a5 !important;
  }

  .button path {
    fill: #8899a5;
  }
}
